/**
 * @description Styles
 * @author      C. M. de Picciotto <d3p1@d3p1.dev> (https://d3p1.dev/)
 */
:root {
    --primary-color: hsl(0, 0%, 95%);
    --secondary-color: hsl(0, 0%, 10%);
    --accent-color-100: hsl(0, 0%, 100%);
}

body {
    margin: 0;
    overflow: hidden;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    line-height: 1.5rem;
}

main {
    background-color: var(--accent-color-100);
    width: 60%;
    height: 100vh;
    margin: 0 auto;
    padding: 2rem;
    box-shadow: 0 0 0.2rem 0 var(--secondary-color);
}

h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 4rem 0;
}